react.localhost {
    tls local.crt local.key

    handle /api {
        uri strip_prefix api
        reverse_proxy http://localhost:8080
    }
    reverse_proxy http://localhost:3000
}
express.localhost {
    handle /8080 {
        uri strip_prefix 8080
        reverse_proxy http://localhost:8080
    }
    handle /8085 {
        uri strip_prefix 8085
        reverse_proxy http://localhost:8085
    }
    reverse_proxy http://localhost:8080
}